* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #e9c46a;
}

.branch {
    text-align: center;
}

.fa-star {
    margin: 8px;
}

.fa-star:nth-child(2n) {
    animation: rotation 3s linear infinite;
}

.fa-star:nth-child(2n+1) {
    animation: rotation2 3s linear infinite;
}

@keyframes rotation {
    0%,
    100% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(360deg) scale(1.8);
    }
}

@keyframes rotation2 {
    0%,
    100% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(-360deg) scale(1.6);
    }
}

header {
    width: 100%;
    background: #e76f51;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 40px;
    box-shadow: 0 10px 15px 5px #f4a261;
    h1 {
        padding-left: 10px;
        cursor: pointer;
        color: #e9c46a;
        transition: 0.5s;
        text-shadow: 3px -2px 0 #2a9d8f, 4px -3px 0#264653;
        &:hover {
            text-shadow: 3px -2px 0 #caffbf, 5px -3px 0#e63946;
        }
    }
}

.input-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h3 {
    font-size: 2rem;
    color: #2a9d8f;
    text-shadow: 4px 0 0 #e76f51, 7px 0 0 #264653;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        text-shadow: 4px 0 0 #264653, 7px 0 0 #e76f51;
    }
}

.img-box {
    width: 290px;
}

img {
    max-width: 100%;
    display: block;
}

input {
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 290px;
}

.christmas-tree {
    margin: 50px 0;
    cursor: pointer;
}

button {
    width: 290px;
    margin-top: 20px;
    background: #2a9d8f;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none !important;
    color: #f1faee;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
        background: #1a665d;
    }
}